## SPDX-License-Identifier: BSD-2-Clause
## Copyright (c) 2023, Konrad Weihmann

## A systemd service with deliberately added errors
[Unit]
Description=My project service

[Service]
Type=oneshot
ExecStart=/usr/biin/demo-service.sh
SomeUnknownOption=yes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
